/* Mixin to embed fonts */
@mixin font-face($style-name, $file, $family, $category:"") {
    $filepath: "../fonts/"+ $file;

    @font-face {
        font-family: "#{$style-name}";
        font-display: block;
        src: url($filepath + ".otf") format('opentype');
        src: url($filepath + ".eot");
        src: url($filepath + ".eot") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf") format('truetype'),
        url('$filepath + ".svg"#{$style-name}') format('svg');
    }

    %#{$style-name} {
        font: {
            @if $category !="" {
                family: "#{$style-name}",
                #{$category};
            }

            @else {
                family: "#{$style-name}";
                weight: normal;
            }
        }
    }
}

// Fonts implementation example 

@mixin customButton($bg, $color, $size, $width, $height) {
    border: 1px solid $bg;
    box-shadow: none;
    cursor: pointer;
    max-width: $width;
    width: 100%;
    height: $height;
    font-family: 'Akkurat', sans-serif;
    font-weight: normal;
    font-size: $size;
    background: $bg;
    color: $color;
    padding: ($spc_10 / 2) $spc_10;
    line-height: ($height - 10px);
    text-align: center;
    font-style: normal;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;

    &:focus,
    &:hover,
    &:active {
        box-shadow: none;
        outline: 0 !important;
        border-color: $bg;
        background: transparent;
        color: $bg;
    }
}

@mixin clearFix {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
 