/*Colors*/
$baseColor        : #261330;
$themeColor       : #FCB315;
$black            : #000000;
$white            : #ffffff;
$grey             : #696969;
$purple           : #1c0f23;
$darkpurple       : #1c0f23;
$lightgrey        : #7C7C7C;
$primaryColor     : #C1F7C5;
$alertColor       : #E86B36;
$lightpurple      : #474C60;
$superlightgrey   : #f3f3f3;


/* Typography */
$h1 : 24px;
$h2 : 21px;
$h3 : 20px;
$h4 : 18px;
$h5 : 15px;
$h6 : 14px;

$blockquote : 25px;
$p : 16px;
$p-small : 12px;

$spc_5  : 5px;
$spc_10 : 10px;
$spc_15 : 15px;
$spc_20 : 20px;
$spc_25 : 25px;
$spc_30 : 30px;
$spc_35 : 35px;
$spc_40 : 40px;
$spc_45 : 45px;
$spc_50 : 50px; 